header {
  font-size: 40px;
  min-height: 100px;
  padding-top: 20px;
}

#timer-component {
  font-family: monospace;
  font-size: 40px;
  border: 3px #8fbcbb solid;
  border-radius: 5px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: #8fbcbb;
}

#timer-component > p {
  font-size: 40px;
  border: 2px solid #dca7ad;
  border-radius: 5px;

}

#timer-component > button {
  margin-right: 10px;
  color: #8fbcbb;
  border: 1px #8fbcbb solid;
  font-size: 20px;
}

.timer-note {
  border: 3px #8da5c4 solid;
  border-radius: 5px;
  max-width: calc(100% - 20px);
  margin: auto;
}

.timer-note-title {
  color: #81a1c1;
  font-size: 25px;
  text-decoration: underline;
}

.timer-note-content {
  font-size: 18px;
  color: #81a1c1;
}

.note-header {
  text-align: center;
  margin-left: -10px;
  padding: 0;
  color: #8da5c4;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #8fbcbb;
  text-align: center;
  align-items: center;
}

.form-header {
  color: #8fbcbb;
}

form > input,
form > textarea {
  border: 2px #8DA5C4 solid;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  color: #d8dee9;
  width: 100%;

}

form > button {
  border: 1px solid #8fbcbb;
  width: 200px;
  background-color: #8fbcbb;
  color: #4c566a;
  font-size: 25px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 10px
}

.error-box {
  font-size: 18px;
  color: #dca7ad;
  margin: 5px 0 0 0;
}

.form-and-error {
  border: 3px solid #8fbcbb;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 0;
  margin-bottom: 100px;
}

.timer-header {
  color: #8fbcbb;
}

form > label {
  font-size: 25px;
}

@media only screen and (min-width: 575px) {
  #timer-component {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
  }

  #timer-component > * {
    font-size: 40px;
  }

  .form-and-error {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }

  form > button {
    text-align: center;
  }

  .timer-note {
    margin-left: 10px;
    margin-right: 10px;
    min-width: calc(100% - 20px);
  }

  .react-form > label {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
  }
}
