nav {
    display: flex;
}

nav > h1 {
    color: #BF616A;
    width: calc(100% - 250px);
    text-align: left;
    font-size: larger;
    padding: 0;
    margin: 0 0 0 0.5%;
    font-family: 'Inter Bold', sans-serif;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}
