header {
    font-size: 40px;
    min-height: 100px;
    padding-top: 20px;
}

#timer-component {
    font-size: 100px;
}

#timer-component > p {
    font-size: 15px;
    border: 2px dashed darkred;
    border-radius: 5px;
}