header {
  font-size: 40px;
  min-height: 100px;
  padding-top: 20px;
}

.notes-display {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.notes-display > div {
  margin: 10px;
  min-width: 200px;
  width: 20%;
  max-height: 400px;
  min-height: 400px;
  border: 2px #8da5c4 solid;
  border-radius: 3px;
  flex-direction: column;
}

.notes-display > div > h4,
.notes-display > div > h3 {
  word-break: break-word;
  margin: 0;
  overflow: auto;
}

.notes-display > * {
  background: black;
}

.notes-display:first-child {
  border-color: #a3be8c;
}

.notes-display > div > p, .notes-display > div > button {
  margin-bottom: 10px;
  width: 90%;
  align-self: center;
}

.notes-display > div > button {
  border: 2px #8da5c4 solid;
  margin-bottom: 10px;
  color: #8da5c4;
  font-size: 12px;
  padding-bottom: 0;
}

.react-form-section {
  padding: 0;
  margin: 0;
}

#submit-button {
  text-align: center;
  margin-right: 50%;
}

@media only screen and (min-width: 575px) {
  .notes-display {
    flex-direction: row;
  }

  .notes-display > div {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .notes-display > div > h3 {
    width: 100%;
  }

  .notes-display > div > h4 {
    font-weight: normal;
    font-size: 18px;
  }
}
