header {
  font-size: 40px;
  min-height: 100px;
  padding-top: 20px;
}

.notes-display {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.notes-display > div {
  margin: 0.5%;
  text-align: center;
  min-width: 200px;
  width: 16.5%;
  max-height: 300px;
  min-height: 300px;
  border: 2px #8da5c4 solid;
  border-radius: 3px;
  flex-direction: column;
}

.notes-display > div > h4,
.notes-display > div > h3 {
  overflow: scroll;
}

.notes-display:first-child {
  border-color: #a3be8c;
}

.notes-display > button {
  border: 2px #8da5c4 solid;
  margin-bottom: 10px;
  color: #8da5c4;
  font-size: 12px;
  text-align: center;
}

.react-form-section {
  padding: 0;
  margin: 0;
}

#submit-button {
  text-align: center;
  color: red;
  margin-right: 50%;
}

@media only screen and (min-width: 575px) {
  .notes-display {
    flex-direction: row;
  }
}
