@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter Bold", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter";
  background: url("images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* > #timer-component {
  font-family: monospace;
}

body {
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
}

.error {
  margin-top:300px;
}

.error-box {
  min-height: 0px;
  max-height: 30px;
  margin-bottom: 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 70px;
}

header {
  /*padding: 45px 15px;*/
  margin-top: 70px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  color: #8da5c4;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

button:disabled {
  border: 2px #4c566a solid;
  border-radius: 3px;
  color: #4c566a;
}

button {
  border: 2px inherit solid;
  border-radius: 3px;
}

input::placeholder {
  color: #dca7ad;
  font-size: 15px;
}

textarea::placeholder {
  color: #dca7ad;
  font-size: 15px;
}

.error {
  color: #dca7ad;
}
