nav {
  display: flex;
  flex-direction: row;
}

/* portrait phones */
@media only screen and (min-width:0px) {
  nav {
    flex-direction: column;
    border-bottom: 4px solid #8DA5C4;
    min-height: 230px;
  }

  nav > * {
    margin: 0;
  }

  nav > h1 > a {
    text-decoration: none;
    color: #8da5c4;
    font-size: 25px;
    margin: 0;
  }

  nav > p {
    color: #dca7ad;
  }

  .button-container {
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .button-container > * {
    min-width: calc(100% - 10px);
    height: 25px;
    margin: 5px 5px 5px 5px;
    border: 2px solid #8fbcbb;

  }
  nav > .button-container > button > a, nav > .button-container > button {
    color: #8fbcbb;
    font-size: 16px;
    width: 25%;
    text-decoration: none;
  }
}

/* landscape phones */
@media only screen and (min-width:480px) {
  nav > p {
    color: #dca7ad;
    max-height: 50px;
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
  }

  nav > h1 {
    max-height: 50px;
    align-self: center;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100px;
  }

  .button-container {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .button-container > * {
    min-width: 20%;
    max-width: calc(25% - 10px);
    height: 100%;
    margin: 0 5px 0 5px;
  }
  nav > .button-container > button > a, nav > .button-container > button {
    font-size: 18px;
  }
}
/* ipads and up */
@media only screen and (min-width:801px) {
  nav {
    justify-content: center;
    align-content: center;
  }

  .button-container {
    width: 50%;
    height: 100%;
  }

  .button-container > * {
    height: 100%;
    overflow: hidden;
  }

  nav > .button-container > button > a, nav > .button-container > button {
    font-size: 20px;
  }

}